/*Variables*/
:root{
	--tam-portada: 30rem;
}

/*Colores*/
body{
	padding: 0px;
	margin: 0px;
}

.contenedor-portada{
	position: relative;
	height: var(--tam-portada);
	width: auto;
	overflow: hidden;
}

.portada{
	position: absolute;
	top: -75%;
	height:calc(var(--tam-portada)*3);
	width: auto;
}

.contenedor{
	background-color: #c3c2c3;
	border-radius: 5px;
}